div.title-logo {
	margin: 0px auto;
    text-align: center;
    font-size: 5em;
    font-family: 'Franklin Gothic Heavy', sans-serif;
    font-weight: bold;
    line-height: 75%;
    color: #0000ff;
    transform: perspective(7px) rotateX(1deg);
    -webkit-transform-origin: 50% 54%;
    margin-bottom: 0.6em;
}
img.left {
    pointer-events: none;
}
h1, h2 {
    text-align: center;
}
article {
    font-family: 'Libre Baskerville', sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
	padding: 0.2em;
}
dl {
    background-color: #e7e7e7;
    padding: 0.3em;
}
dl dt {
    font-weight: bold;
    margin-bottom: 0.3em;
}
dl dd {
    font-style: oblique;
}
code {
    background-color: #e7e7e7;
}
@media only screen and (min-width: 1224px) { /* desktop/laptop */
    nav {
        float: left;
        display: inline-block;
        position: fixed;
    }
    article {
        font-size: 18px;
        margin: 0px auto;
        width: 650px;
    }
    code {
        font-size: 14px;
    }
    code.hljs-lang-label {
        display: inline-block;
    }
    code.hljs-lang-label span {
        display: none;
    }
    code.hljs-lang-label img {
        max-width: 24px;
        max-height: 24px;
        vertical-align: middle;
    }
    img.left {
    	float: left;
    	position: fixed;
    	max-width: 25%;
    	max-height: 100%;
    	margin: 0px auto;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { /* phone/tablet */
	body {
		background: #ffeeee; /* for testing purposes */
	}
    nav {
        margin: 0px auto;
        text-align: center;
    }
    nav a {
        font-size: 150%;
    }
    code.hljs {
        font-size: 200%;
    }
    code.hljs-lang-label {
        display: inline-block;
    }
    code.hljs-lang-label span {
        vertical-align: middle;
    }
    code.hljs-lang-label img {
        max-width: 48px;
        max-height: 48px;
        vertical-align: middle;
    }
    img.left {
    	display: none;
    }
}