.title-logo {
    display: block;
    width: 80%;
    max-height: 800px;
    margin: 1em auto 2em auto;
}
main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
main div#last-modified {
    text-align: center;
    margin: 3em auto;
    font-size: 0.8em;
    color: #444477;
    font-family: 'Arvo', serif;
}
article {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
.disqus_thread {
    margin: 3em auto 0 auto;
}
h1 {
    text-align: center;
    color: #444477;
    font-family: 'Arvo', serif;
    margin: 1em auto 1em auto;
}
h2 {
    text-align: center;
    color: #444477;
    font-family: 'Arvo', serif;
    margin-top: 1em;
    margin-bottom: 2em;
}
h3 {
    border-bottom: 0.1em solid #ccccff;
    padding-bottom: 0.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
h4, h5, h6 {
    color: #444477;
    font-family: 'Arvo', serif;
}
img {
    margin-left: auto;
    margin-right: auto;
}
pre, code {
    background-color: #f8f8f8;
}
table {
    border: 0.2em solid black;
    border-collapse: collapse;
    margin: 0.6em auto;
}
td, th {
    border: 0.2em solid black;
    border-collapse: collapse;
    padding: 0.2em;
}
dl {
    background-color: #e7e7e7;
    padding: 0.3em;
    margin: 0.6em;
}
dl dt {
    font-weight: bold;
    margin-bottom: 0.3em;
}
dl dd {
    font-style: oblique;
}
nav {
    display: flex;
}
nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}
blockquote {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 1.2em;
    background-color: #eeeeff;
    padding: 0.5em;
    margin-bottom: 2em;
    position: relative;
}
blockquote p {
    margin: 0;
    margin-bottom: 0.5em;
}
cite {
    font-family: 'Rock Salt', serif;
    font-size: 1.2rem;
    position: absolute;
    right: -2em;
    bottom: -2em;
    background-color: #ffffff;
    border: 0.2em solid #ccccff;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
cite a {
    text-decoration: none;
}

/* desktop/laptop */
@media only screen and (min-width: 1000px) {
    nav {
        flex-direction: column;
        margin-top: 1em;
        margin-left: 1em;
        float: left;
        position: fixed;
    }
    nav a {
        margin-bottom: 1em;
    }
    code {
        font-size: 14px;
    }
}

/* phone/tablet */
@media only screen and (max-width : 999px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        font-size: 4em;
    }
    nav a {
        margin: 0 1em;
    }
    main {
        max-width: 100%;
    }
    article {
        margin: 1em;
        font-size: 20px;
    }
    .disqus_thread {
        display: none;
    }
    pre code {
        font-size: 1.6em;
    }
    ul {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        list-style-type: none;
    }
    li {
        background-color: #ccccff;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 200%;
    }
    table {
        font-size: 2.5em;
    }
}
