@import url('//fonts.googleapis.com/css?family=Arvo');
@import url('//fonts.googleapis.com/css?family=PT+Sans');
@import url('//fonts.googleapis.com/css?family=Architects+Daughter');
@import url('//fonts.googleapis.com/css?family=Rock+Salt');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css');
.title-logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
    width: 100%;
    max-width: 36em;
}
body {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
#last-modified {
    text-align: center;
    margin: 3em auto;
    font-size: 0.8em;
    color: #444477;
    font-family: 'Arvo', serif;
}
article {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
.disqus_thread {
    margin: 3em auto 0 auto;
}
h1 {
    text-align: center;
    color: #444477;
    font-family: 'Arvo', serif;
    margin: 1em auto 1em auto;
}
h2 {
    text-align: center;
    color: #444477;
    font-family: 'Arvo', serif;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 2em;
}
h3 {
    border-bottom: 0.1em solid #ccccff;
    padding-bottom: 0.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
h4, h5, h6 {
    color: #444477;
    font-family: 'Arvo', serif;
}
img {
    margin-left: auto;
    margin-right: auto;
}
img.inset-right {
    width: 3em;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}
img.inset-left {
    width: 3em;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
pre, code {
    background-color: #f8f8f8;
}
table {
    border: 0.2em solid black;
    border-collapse: collapse;
    margin: 0.6em auto;
}
td, th {
    border: 0.2em solid black;
    border-collapse: collapse;
    padding: 0.2em;
}
dl {
    background-color: #e7e7e7;
    padding: 0.3em;
    margin: 0.6em;
}
dl dt {
    font-weight: bold;
    margin-bottom: 0.3em;
}
dl dd {
    font-style: oblique;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
}
nav a {
    color: black;
    text-align: center;
    font-size: 2em;
}
blockquote {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 1.2em;
    background-color: #eeeeff;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
}
blockquote p {
    margin: 0;
    margin-bottom: 0.5em;
}
cite {
    font-family: 'Rock Salt', serif;
    font-size: 1.2rem;
    position: absolute;
    right: -2em;
    bottom: -2em;
    background-color: #ffffff;
    border: 0.2em solid #ccccff;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
code.hljs {
    position: relative;
}
code.hljs::before {
    position: absolute;
    content: '';
    top: 0.2em;
    right: 0.2em;
    width: 4em;
    height: 80%;
    background-size: 1.75em;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0.5;
}
code.lang-csharp::before {
    background-image: url('/logos/csharp.svg');
}
code.lang-fsharp::before {
    background-image: url('/logos/fsharp.svg');
}
code.lang-vbnet::before {
    background-image: url('/logos/vbnet.svg');
}
code.lang-razor::before {
    background-image: url('/logos/razor.svg');
}
code.lang-java::before {
    background-image: url('/logos/java.svg');
}
code.lang-python::before {
    background-image: url('/logos/python.svg');
}
code.lang-ruby::before {
    background-image: url('/logos/ruby.svg');
}
code.lang-haskell::before {
    background-image: url('/logos/haskell.svg');
}
code.lang-scala::before {
    background-image: url('/logos/scala.svg');
}
code.lang-erlang::before {
    background-image: url('/logos/erlang.svg');
}
code.lang-clojure::before {
    background-image: url('/logos/clojure.svg');
}
code.lang-groovy::before {
    background-image: url('/logos/groovy.svg');
}
code.lang-lua::before {
    background-image: url('/logos/lua.svg');
}
code.lang-php::before {
    background-image: url('/logos/php.svg');
}
code.lang-javascript::before {
    background-image: url('/logos/javascript.svg');
}
code.lang-css::before {
    background-image: url('/logos/css.svg');
}
code.lang-html::before {
    background-image: url('/logos/html.svg');
}

/* desktop/laptop */
@media only screen and (min-width: 1000px) {
    .only-mobile {
        display: none;
    }
    nav {
        flex-direction: column;
        margin-top: 1em;
        margin-left: 1em;
        float: left;
        position: fixed;
    }
    nav a {
        margin-bottom: 1em;
    }
    code {
        font-size: 14px;
    }
    code.hljs:hover::before {
        background-image: none;
        text-align: right;
        padding-top: 0.2em;
        padding-right: 0.2em;
        opacity: 1;
    }
    code.lang-csharp:hover::before {
        content: 'C#';
    }
    code.lang-fsharp:hover::before {
        content: 'F#';
    }
    code.lang-vbnet:hover::before {
        content: 'VB.Net';
    }
    code.lang-razor:hover::before {
        content: 'Razor';
    }
    code.lang-java:hover::before {
        content: 'Java';
    }
    code.lang-python:hover::before {
        content: 'Python';
    }
    code.lang-ruby:hover::before {
        content: 'Ruby';
    }
    code.lang-haskell:hover::before {
        content: 'Haskell';
    }
    code.lang-scala:hover::before {
        content: 'Scala';
    }
    code.lang-erlang:hover::before {
        content: 'Erlang';
    }
    code.lang-clojure:hover::before {
        content: 'Clojure';
    }
    code.lang-groovy:hover::before {
        content: 'Groovy';
    }
    code.lang-lua:hover::before {
        content: 'Lua';
    }
    code.lang-php:hover::before {
        content: 'PHP';
    }
    code.lang-javascript:hover::before {
        content: 'Javascript';
    }
    code.lang-css:hover::before {
        content: 'CSS';
    }
    code.lang-html:hover::before {
        content: 'HTML';
    }
    img.inset-right {
        width: 3em;
    }
    img.inset-left {
        width: 3em;
    }
}

/* phone/tablet */
@media only screen and (max-width : 999px) {
    .no-mobile {
        display: none;
    }
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1em auto;
        text-align: center;
        font-size: 4em;
    }
    nav a {
        margin: 0 1em;
    }
    main {
        max-width: default;
    }
    article {
        margin: 0.25em;
        font-size: 20px;
    }
    pre code {
        font-size: 1.6em;
    }
    ul {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        list-style-type: none;
    }
    li {
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 200%;
    }
    table {
        font-size: 2.5em;
    }
    blockquote {
        margin-bottom: 4em;
    }
    blockquote p {
        margin-bottom: 1em;
    }
    cite {
        font-size: 2em;
        right: -0.5em;
    }
    img.inset-right {
        width: 6em;
    }
    img.inset-left {
        width: 6em;
    }
}
